body {
    background-color: #e2c1c1 !important;
}

.ui.inverted.top.fixed.menu {
    background-image: linear-gradient( 135deg, rgb(86, 201, 195) 0%, rgb(95, 156, 179) 69%, rgb(15, 159, 255) 89%) !important;
}

.container {
    position: relative;
    font-family: Arial;
}

.container .left {
    position: absolute;
    top: 50%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.react-datepicker-wrapper {
    width: 100%;
}